* :root {
  box-sizing: border-box;
  font-family: 'Crushed', cursive;
}

body {
  background-color: #00cc52;
}

.nav {
  background-color: #004d1f;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 16px;
  height: 64px;
  box-shadow: 0 1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.07),
    0 0.25rem 2rem 0 rgba(0, 0, 0, 0.03);
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 16px;
  height: 64px;

  > a {
    color: #004d1f;
    font-size: 16px;
  }
}
